services:
  browser:
    build: ./browser
    container_name: browser
    networks:
      - sandbox-network
    command: http://spotify.com
    security_opt:
      - no-new-privileges:true
    read_only: true
    tmpfs:
      - /tmp:exec,mode=1777
      - /var/tmp:exec,mode=1777
      - /home/chromium:exec,mode=1777
    dns:
      - 8.8.8.8

  proxy:
    build: ./proxy
    container_name: proxy
    networks:
      - sandbox-network
    volumes:
      - ./proxy/log:/home/mitmdump/log

  logger:
    build: ./logger
    container_name: logger
    network_mode: "container:browser"
    volumes:
      - ./logger/captures:/home/tcpdump/captures
    cap_add:
      - NET_ADMIN
      - NET_RAW

networks:
  sandbox-network:
    driver: bridge